@charset 'utf-8';

/*ν—¤λ”*/
#header{
	width:100%;
	position: absolute;
	z-index: 1;
}
#header h1{
	width: 150px;
	height: 100%;
	line-height:80px;
	background: url(../images/common/logo.png) no-repeat center center;
	background-size: 60px;
	text-indent: -9999px;
	margin-left:7%;
}
#header h1 a{
	display: block;
}

#header .gnb{
	position: absolute;
	top: 0;
	right:20%;
}
#header .gnb li{
	line-height: 80px;
	float: left;
	padding-left: 30px;
}
#header .gnb li a{
	font-weight: 600;
	color: #fff;
	display: block;
}

/*ν‘Έν„°*/
#footer{
	margin-top:10%;
	color: #fff;
}

.fInfo{
	margin-top: 5%;
	
}
.fInfo dt{
	font-size: 1.375rem;
	font-weight:600;
	padding-bottom:2%;
}
.fInfo dl{
	font-size: 1.125rem;
	font-weight: 400;
	padding-bottom:1%;
}
.fInfo dl span{
	margin-left: 2%;
}

#footer .copy{
	padding:5% 0;
	text-align: center;
}