@charset 'utf-8';

/*배경*/
/*
#wrap{
background: #0173ba; /* Old browsers 
background: -moz-linear-gradient(top,  #0173ba 0%, #323181 50%, #1d0c5d 100%); /* FF3.6-15 
background: -webkit-linear-gradient(top,  #0173ba 0%,#323181 50%,#1d0c5d 100%); /* Chrome10-25,Safari5.1-6 
background: linear-gradient(to bottom,  #0173ba 0%,#323181 50%,#1d0c5d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0173ba', endColorstr='#1d0c5d',GradientType=0 ); /* IE6-9 
}
*/



.main{
	position: relative;
	margin-bottom:15%;
}

/*메인 프로필 움직이는 배경*/
.bg{
	clip-path: ellipse(52% 42% at 70% 27%);
	
}
/*
.box {
  width: 100%;
  height: 900px;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: #fff;
  width: 800px;
  height: 800px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
	
}


.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: .1;
  background: yellow;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}
*/


/*메인프로필 텍스트*/
.main{
	position: relative
}

.main .pImg{
	width: 17%;
	padding-top: 17%;
	border-radius: 50%;
	background: url(../images/main/img_profile.png) no-repeat center center;
	background-size: cover;
	text-indent: -9999px;
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 3
}

.main .pText{
	width:40%;
	position: absolute;
	top: 50%;
	right: 15%;
	z-index: 3
}
.main .pText h2{
	color:#fff;
	font-size:1.5rem;
}
.main .pText h2 p{
	margin-top: 5%;
	font-size:1.25rem;
}

/*로고 소개*/
.con01{
	position: relative;
}

.con01 .logo{
	width: 50%;
}
.con01 img{
	background: url(../images/main/bg_logoLine.png) no-repeat center center;
	background-size: cover;
	float: left;
	margin-right: 40%;
}
.con01 h3{
	width: 50%;
	color: #fff;
	display: inline-block;
}
.con01 h3 p{}

.con01 .moreBtn{
	width: 130px;
	height: 50px;
	line-height: 50px;
	border: 2px solid #fff;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 49%;
}
.con01 .moreBtn a{
	color:#fff;
	display: block;
}
.con01 .moreBtn:hover a{
	background: #fff;
	color: #204e9a
}

/*작품갤러리*/
.con02{
	min-width: 1200px;
	height: 100%;
	position: relative;
	margin-top: 15%;
}

/*작품갤러리 뒷 배경 그라디언트 막대
.bgBoxWrap{
	margin-top:10%;
}

.bgBox{
	transform: rotate(-30deg);
}
.bgBoxWrap .bgBox01{
	width: 600px;
	height: 40px;
	border-radius: 40px;
	background: #9f27d1;
	background: -moz-linear-gradient(45deg,  #9f27d1 0%, #fff68d 100%);
	background: -webkit-linear-gradient(45deg,  #9f27d1 0%,#fff68d 100%);
	background: linear-gradient(45deg,  #9f27d1 0%,#fff68d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f27d1', endColorstr='#fff68d',GradientType=1 );
	margin-left: 5%;
	behavior: url("/css/PIE.htc");
}
.bgBoxWrap .bgBox02{
	width: 800px;
	height: 80px;
	border-radius: 80px;
	background: #6209be;
	background: -moz-linear-gradient(45deg,  #6209be 0%, #8be2ef 100%);
	background: -webkit-linear-gradient(45deg,  #6209be 0%,#8be2ef 100%);
	background: linear-gradient(45deg,  #6209be 0%,#8be2ef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6209be', endColorstr='#8be2ef',GradientType=1 );

}
.bgBoxWrap .bgBox03{
	width: 1200px;
	height: 120px;
	border-radius: 120px;
	border: 14px solid #6209be;
	border: -moz-linear-gradient(45deg,  #6209be 0%, #8be2ef 100%);
	border: -webkit-linear-gradient(45deg,  #6209be 0%,#8be2ef 100%);
	border: linear-gradient(45deg,  #6209be 0%,#8be2ef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6209be', endColorstr='#8be2ef',GradientType=1 );
}
.bgBoxWrap .bgBox04{
	width: 1200px;
	height: 200px;
	border-radius: 200px;
	background: #b287bd;
	background: -moz-linear-gradient(45deg,  #b287bd 0%, #310d68 80%);
	background: -webkit-linear-gradient(45deg,  #b287bd 0%,#310d68 80%);
	background: linear-gradient(45deg,  #b287bd 0%,#310d68 80%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b287bd', endColorstr='#310d68',GradientType=1 );

}
.bgBoxWrap .bgBox05{
	width: 800px;
	height: 60px;
	border-radius: 60px;
	border: 6px solid #a635cd;
}
.bgBoxWrap .bgBox06{
	width: 1200px;
	height: 100px;
	border-radius: 100px;
	border: 8px dotted #ffe189;
}
.bgBoxWrap .bgBox07{
	width: 800px;
	height: 80px;
	border-radius: 80px;
	background: #9d48ed;
	background: -moz-linear-gradient(45deg,  #9d48ed 0%, #111f84 100%);
	background: -webkit-linear-gradient(45deg,  #9d48ed 0%,#111f84 100%);
	background: linear-gradient(45deg,  #9d48ed 0%,#111f84 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d48ed', endColorstr='#111f84',GradientType=1 );
}
.bgBoxWrap .bgBox08{
	width: 600px;
	height: 100px;
	border-radius: 100px;
	border: 8px dashed #feff87;
	border: -moz-linear-gradient(45deg,  #feff87 0%, #6112a4 100%);
	border: -webkit-linear-gradient(45deg,  #feff87 0%,#6112a4 100%);
	border: linear-gradient(45deg,  #feff87 0%,#6112a4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feff87', endColorstr='#6112a4',GradientType=1 );
}
.bgBoxWrap .bgBox09{
	width: 900px;
	height: 40px;
	border-radius: 40px;
	border: 6px solid #b684ba;
}
.bgBoxWrap .bgBox10{
	width: 1000px;
	height: 80px;
	border-radius: 80px;
	background: #1354b5;
	background: -moz-linear-gradient(45deg,  #1354b5 0%, #fa7e7e 100%);
	background: -webkit-linear-gradient(45deg,  #1354b5 0%,#fa7e7e 100%);
	background: linear-gradient(45deg,  #1354b5 0%,#fa7e7e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1354b5', endColorstr='#fa7e7e',GradientType=1 );
}
.bgBoxWrap .bgBox11{
	width: 1200px;
	height: 50px;
	border-radius: 50px;
	border: 6px solid #8adcee;
}
.bgBoxWrap .bgBox12{
	width: 600px;
	height: 40px;
	border-radius: 40px;
	border: 6px dotted #fff;
}
.bgBoxWrap .bgBox13{
	width: 1300px;
	height: 30px;
	border-radius: 30px;
	background: #92daea;
	background: -moz-linear-gradient(45deg,  #92daea 0%, #671596 100%);
	background: -webkit-linear-gradient(45deg,  #92daea 0%,#671596 100%);
	background: linear-gradient(45deg,  #92daea 0%,#671596 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92daea', endColorstr='#671596',GradientType=1 );
}
.bgBoxWrap .bgBox14{
	width: 600px;
	height: 20px;
	border-radius: 20px;
	background: -moz-linear-gradient(45deg,  rgba(163,86,229,1) 0%, rgba(163,86,229,0) 100%);
	background: -webkit-linear-gradient(45deg,  rgba(163,86,229,1) 0%,rgba(163,86,229,0) 100%);
	background: linear-gradient(45deg,  rgba(163,86,229,1) 0%,rgba(163,86,229,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a356e5', endColorstr='#00a356e5',GradientType=1 );
}
*/

.con02Wrap{}
.con02Wrap img{
	vertical-align: middle;
}
.con02Wrap li{}
.con02Wrap li a{
	color: #777;
	font-size: 1.25rem;
	display: block;
}
.con02Wrap li p{}
.con02Wrap li span{
	margin-left: 10px;
	font-size: 1.375rem;
	font-weight: 500;
	font-style: italic;
}

.con02Left{
	width: 47%;
	text-align: right;
	margin-top: 5%;
	margin-right: 3%;
	float: left;
}
.con02Left li, .con02Right li{
	margin-top: 20%;
}
.con02Left li:first-child{
	margin-top: 20%;
}
.con02Left .box1{
	position: relative;
}
.con02Left .box1 p{
	width:47%;
	position: absolute;
	bottom: 2%;
	left: 2%;
	text-align: left;
}
.con02Left .box5{
	position: relative;
}
.con02Left .box5 p{
	width:47%;
	writing-mode: vertical-rl;
	position: absolute;
	bottom: 2%;
	left: 2%;
}

.con02Right{
	width: 47%;
	margin-top:5% 0;
	float: left;
}
.con02Right li:first-child{
	margin-top: 10%;
}

.con02Right .box2{
	position: relative;
}
.con02Right .box2 p{
	writing-mode: vertical-rl;
	position: absolute;
	bottom: 2%;
	left: 2%;
}
