@charset "utf-8";

/*반응형 웹뷰*/
.panel, .mCon02Menu04, .mMainCon03, .footerInfo{display:none;}

@media screen and (max-width: 1920px/*max-height는 설정한 최대값까지는 보이게*/){
	.bg img{width: 80%;}
	
}

@media screen and (max-width:1280px/*max-height는 설정한 최대값까지는 보이게*/){
	body{width: 100%;}
	.bg img{width: 80%;}
	.inner{width: 100%;}
	.con01 .logo{width: 30%; margin-left: 6%;}
	.con01 h3{width: 40%}
	.con01 .moreBtn{width: 100px; height: 40px; left: 47%; line-height: 40px;}
}
